.main {
  margin-left: 20vw
}

.controlButtons{
  display: inline-flex;
  padding: 2vw;
}

.controlButtons * {
  padding: 0 1vw 0 1vw;
  width: 65px;
}

.controlButtons button {
  margin-left: 1vw
}

.pathContainer p{
  color: dimgrey;
  padding-left: 3vw;
}


.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  flex-wrap: nowrap;
}

.element {
  width: 70vw;
  font-size: 125%;
  color: #000033;
  text-align: center;
  line-height: 250%;
}

.element:nth-child(odd) {
  background-color: #f1f1f1;
}