.container{
  display: flex;
  width: 100vw;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20%
}

.element{
  width: 70%;
  font-size: 25px;
  color: #000033;
  text-align: center;
  line-height: 50px;
}

.element:nth-child(odd) {
  background-color: #f1f1f1;
}